@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

body {
  font-family: 'Walter Turncoat', cursive;

}

div:nth-child(1) p::first-line{
    background-color: green;
}

div:nth-child(4) ~ div {
    background-color:blue;
  }
  
  
  div:nth-child(2){
    border:1px solid  red;
  }
  
  div:nth-child(3) p::first-letter {
      color:red;
      font-size:20px;
      float:left;
  }
  
  
  div:nth-child(odd) h1{
    color:violet;
  }
  
  h1:hover + p {
    color:orange;
  }
  
  div:nth-child(4) h1::before{
    content:">>";
    display: none;
  }

  div:nth-child(4) h1:hover::before{
    display: block;
    transition: display 400ms;
  }