nav {
    text-align: center;
}

a {
    background-color: red;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    margin: 2rem;
}

a:hover {
    background-color:green;
    font-weight: bolder;
}