*,
::before,
::after {
  margin: 0;
  padding: O;
  box-sizing: border-box;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0px 1px 10px #999;
}

.logo-container {
  margin-left: 20%;
  font-size: 48px;
  color: rgb(0, 0, 0);
}

nav {
  margin-right: 20rem;
}

nav a {
  font-size: 20px;
  margin: 0 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transform: scale(1);
  transition: 400ms ease-in-out;
}

nav a:hover {
  color: blue;
  transition: 400ms ease-in-out;
}

section > h1 {
  font-weight: bolder;
  text-align: center;
  margin-top: 10%;
}

section p {
  text-align: center;
  margin: 0 20%;
}

img {
  width: 250px;
  height: 250px;
}

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 10px 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.card:hover {
  transform: scale(3);
  z-index: 2;
}
